

<div class="mesBlocs">
<div class="graph" style="width: 100%; height: 100%">
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartData.labels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <div class="button-row">
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
        <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
        <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
        <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
      </div>
    </div>
  </div>
</div>
</div>




<!-- Dropright button -->

<!--<div class="mesBlocs">-->
<!--<div ngbDropdown class="d-inline-block ">-->
<!--  <button type="button" class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Sites Web</button>-->
<!--  <div ngbDropdownMenu aria-labelledby="dropdown1">-->
<!--    &lt;!&ndash; items as buttons &ndash;&gt;-->
<!--    <button ngbDropdownItem *ngFor="let site of siteWebList" [value]="site">{{site}}</button>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="mesBlocs">-->
<!--<h4>mat-select</h4>-->
<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>State</mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option>None</mat-option>-->
<!--    <mat-option *ngFor="let site of siteWebList" [value]="site">{{site}}</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--</div>-->

<div class="mesBlocs">

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Site Web</mat-label>

      <input
             type="textarea"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (input)="nothing()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let site of filteredOptions | async" [value]="site" (onSelectionChange)="_onClick()">
          {{site}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </form>
</div>

