<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./stats.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./table.css')}}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  
<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li><a href="./">Accueil</a></li>
            <li><a href="./stats">Statistiques</a></li>
            <li><a href="./map">Carte</a></li>
            <li><a href="./database">Base de données</a></li>
            <li><a href="./iptable">Table des IP</a></li>
        </ul>
    </div>
    <section class="container">
        <section class="col1">
            <div class="content">
                <div class="grid">
                    <div> Clients les plus actifs : 
                        {% for table in clientsActifs %}
                        {{ table|safe }}
                        {% endfor %}
                    </div>
                    <div>Sites les plus visités :
                        {% for table in mostVisitedSite %}
                        {{ table|safe }}
                        {% endfor %}
                    </div>
                    <div>Pages les plus consultés (tout sites confondus) :
                        {% for table in pageConsultes %}
                        {{ table|safe }}
                        {% endfor %}
                    </div>
                    <div>Jours avec le plus de visites :
                        {% for table in jours_html %}
                        {{ table|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>